// Main Colors
$accent: null;
$white: #ffffff;
$black: #000000;
$dark-gray: lighten($black, 20%);
$gray: lighten($black, 40%);
$light-gray: lighten($black, 60%);
$lighter-gray: lighten($black, 80%);

// Pen Settings
$primary: #387ef5;
$accent: #ed2553;
$max-width: 80%;

$twitter: #55acee;
$face: #3B5998;
$btnSend: #2B3845;

/* Container */
.container {
	background: url('../assets/imgs/bg_3.jpg') no-repeat;
  background-size: cover;
	display: flex;
  flex-flow: row wrap;
	align-items: center;
	justify-content: center;
  	position: relative;
  	width: 100%;
	height: 100%;
}

.logo{
  width: 100%;
  text-align: center;
  flex: 1 100%;
}
.logo img{ width: 62%; padding: 120px 0 80px 0 }
#fb-login{ background: $btnSend}
#container_login button{background:$face !important; color:#FFF !important; padding: 10px 45px !important; border-radius: 29px !important; height: auto !important}