<ion-header>
  <ion-navbar>
    <ion-title>Chat com {{livro.usuario}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <div class="mensagem" *ngFor="let msg of msgs">

      <div class="adm_send" *ngIf="user_detail.id_user != msg.user_send">
        <img [src]="msg.img_user" alt="img user" />
        <p>{{msg.texto}}</p>
      </div>

      <div class="user_send" *ngIf="user_detail.id_user == msg.user_send">
        <p>{{msg.texto}}</p>
        <img [src]="msg.img_user" alt="img user" />
      </div>
    </div>

    <div class="input_sendMessage">
      <form id="msg_chat">
        <input type="text" id="msg_chat_input" placeholder="Digite sua mensagem aqui..."/>
        <button><ion-icon name="send"></ion-icon></button>
      </form>
    </div>
</ion-content>
