// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-menu .scroll-content{
  /*background: rgb(207,231,250); 
  background: -moz-linear-gradient(45deg, rgba(207,231,250,1) 0%, rgba(99,147,193,1) 100%); 
  background: -webkit-linear-gradient(45deg, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%);
  background: linear-gradient(45deg, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=1 ); */
background: #2b3845; /* Old browsers */
background: -moz-linear-gradient(-45deg, #2b3845 41%, #39405b 69%, #39405b 69%, #39405b 94%, #39405b 96%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #2b3845 41%,#39405b 69%,#39405b 69%,#39405b 94%,#39405b 96%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #2b3845 41%,#39405b 69%,#39405b 69%,#39405b 94%,#39405b 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3845', endColorstr='#39405b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
ion-menu div#userMenuDetail{
  padding: 20px 0;
}
ion-menu img.user{ border-radius: 50%; width: 50%; }
ion-menu .item-md.item-block .item-inner{border: 0 !important }
ion-menu .item-md{ background-color: transparent; }
.mdl-list__item{color:#FFF;}
.mdl-list__item ion-icon{color:#2b3845;}
