<ion-menu [content]='menu'>
  <ion-content>
    <div id="userMenuDetail" text-center>
      <img class="usuario circled-image" *ngIf="usuario != null" [src]="usuario.photoURL" />
      <h2 *ngIf="usuario != null">{{usuario.displayName}}</h2>
      <img class="usuario circled-image" *ngIf="usuario == null" src="http://servidorteste.tvnoar.tv/thumbs/meucanal/palestrantes/1/1.jpg" />
      <h2 *ngIf="usuario == null" style="color:#FFF">Marcelo Barbosa</h2>
    </div>
    <ul class="demo-list-icon mdl-list">
      <li class="mdl-list__item" menuClose (click)="openPage('home')">
          <span class="mdl-list__item-primary-content">
              <ion-icon item-left name="home"></ion-icon>
              Home
          </span>
      </li>
      <li class="mdl-list__item" menuClose (click)="openPage('perfil')">
          <span class="mdl-list__item-primary-content">
              <ion-icon item-left name="contact"></ion-icon>
              Perfil
          </span>
      </li>
      <li class="mdl-list__item" menuClose (click)="openPage('anunciar')">
          <span class="mdl-list__item-primary-content">
              <ion-icon item-left name="cart"></ion-icon>
              Anunciar
          </span>
      </li>
      <li class="mdl-list__item" menuClose (click)="openPage('anuncios')">
          <span class="mdl-list__item-primary-content">
              <ion-icon item-left name="list"></ion-icon>
              Meus Anúncios
          </span>
      </li>
      <li class="mdl-list__item" menuClose (click)="openPage('lista')">
          <span class="mdl-list__item-primary-content">
              <ion-icon item-left name="bookmarks"></ion-icon>
              Lista de Desejo
          </span>
      </li>
      <li class="mdl-list__item" menuClose (click)="openPage('mensagens')">
          <span class="mdl-list__item-primary-content">
              <ion-icon item-left name="chatboxes"></ion-icon>
              Mensagens
          </span>
      </li>
      <li class="mdl-list__item" menuClose (click)="openPage('ajuda')">
          <span class="mdl-list__item-primary-content">
              <ion-icon item-left name="help-circle"></ion-icon>
              Ajuda
          </span>
      </li>
      <li class="mdl-list__item" menuClose (click)="logOut()">
          <span class="mdl-list__item-primary-content">
              <ion-icon item-left name="log-out"></ion-icon>
              Sair
          </span>
      </li>
      
    </ul>

  </ion-content>
</ion-menu>

<ion-nav #menu [root]="rootPage"></ion-nav>
